sudo: false

language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3

services: mongodb

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer update --no-interaction
  
script:
  - mongod --version
  - php -r "echo \MongoClient::VERSION . PHP_EOL;"
  - mkdir -p build/logs
  - phpunit --bootstrap ./tests/bootstrap.php -c tests/phpunit.xml --coverage-clover build/logs/clover.xml tests
  
after_script:
  - php ./vendor/bin/coveralls -v
  
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/c2a1663759bdb5ddf7a0
    on_success: always
    on_failure: newer
    on_start: false
